@font-face {
		font-family: draconis;
		src: url(Draconis-JRw6B.ttf);
}

body {
		margin: 0px;
		padding-bottom: 1%;
		font-family: sans-serif;
}

nav {
		margin-top: 0px;
		margin-right: 15px;
}

.back_to_index {
	font-size: 3vw;
	color: black;
	text-decoration: none;
	vertical-align: middle;
}

.back_to_index:hover {
	color: black;
	text-decoration: underline;
}

.back_to_index img {
	height: 6vw;
}

.back_to_index span {
	width: fit-content;
	display: inline;
	position: relative;
	background-position: right;
	background-size: 10%;
	background-image: url("../assets/back.png");
	background-repeat: no-repeat;
	padding-right: 3%;
	padding-top: 2%;
	padding-bottom: 1%;
}

.header-container {
    display: flex;
    align-items:center;
	font-family: "draconis", sans-serif;
}

.item_image {
		height: 600px;
		display: inline-block;
		margin-left: 5vw;
}

h2 {
		font-size: 80px;
		display: inline-block;
		margin-left: 50px;
}

.description_container {
		padding-left: 5vw;
		padding-right: 5vw;
		font-size: 20px;
}

.description_container > p {
		margin-top: 0px;
		margin-bottom: 50px;
}

.description_container b {
		font-weight: bolder;
		font-size: 25px;
}

.effetto_container p {
		line-height: 1.5em;
}

.effetto_container h3 {
		font-size: 20px;
		font-weight: bolder;
		display: block;
		width: fit-content;
		margin-bottom: 0;
}

.effetto_container table {
	border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.effetto_container table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.effetto_container table th,
.effetto_container table td {
    padding: 12px 15px;
}

.effetto_container table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.effetto_container table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.effetto_container table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

@media all and (orientation:portrait) {
	/* Style adjustments for portrait mode phones goes here */
	.header-container {
			display: block;
			align-items: normal;
			font-family: "draconis", sans-serif;
	}

	nav {
		margin-bottom: 40px;
	}

	.back_to_index {
		font-size: 30px;
	}

	.back_to_index img {
		height: 45px;
	}

	.back_to_index span {
		padding-right: 6%;
	}

	.item_image {
			height: auto;
			width: 80vw;
			display: block;
			margin-bottom: 0
	}

	h2 {
			font-size: 80px;
			display: block;
			margin-top: 50px;
	}

	.effetto_container h3 {
		display: block;
		font-size: 25px;
	}
}



